body {
  background-color: #072037;
  color: #EBF4FB;
}

/* --- Landing Page --- */

/* Navbar */
.navbar {
  background-color: #072037;
  padding: 1em 0;
}

/* Search Bar */
.search-bar {
  align-items: center;
}

.search-bar form {
  width: 100%;
  max-width: 390px;
}

.search-bar form .input-field input {
  height: 100%;
  width: 100%;
  color: #FFF;
  background: transparent;
  background-image: url(./images/search-icon.png);
  background-position: center left;
  background-repeat: no-repeat;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding: 12px 35px;
  font-size: 30px;
  transition: all .2s ease-out, color .2s ease-out;
}

/* -- Search Query -- */

/* Weather Cards */
.card-group {
  margin: 2em;
}

.card-group .card {
  background-color: #072037;
}

/* -- Graphs -- */

/* Details */

.container .row .col {
  padding: 1em 0;
}

.container .row .sun-times {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .row .sun-times div {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.container .row .sun-times div img {
  padding: 0 1em 0 0;
}

.details div {
  padding: 1em 0;
}
