<!-- This tells flask that this template is an extention of base.html -->
{% extends 'base.html' %} 



{% block title %}Weath3r | Weekly Forecast{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand" href="/"><img src="{{url_for('static',filename = 'images/logo.png')}}" height="100" alt="Logo of Weath3r"></a>
    </div>
</nav>

  <!-- Search -->
<div class="search-bar d-flex justify-content-center py-4 pt-2">
    <form>
        <div class="input-field">
            <input id="search" type="text" placeholder="Search for a location">
        </div>
    </form>
</div>

  <!-- Weather Cards -->
  <div class="d-flex justify-content-center flex-wrap">
{% for i in range(7) %}  
    <div class="card-group">
        <button type="button" class="btn btn-block text-light border-0" data-toggle="modal" data-target="#staticBackdrop{{i}}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" id="card-title{{i}}"></h5>
                    <p class="card-text fs-1"><span id="temperature{{i}}"></span>°F</p>
                    <p class="card-text">Preciptation: <span id="precipitation-intensity{{i}}"></span>% <br>Humidity: <span id="humidity{{i}}"></span>% <br>Wind: <span id="wind-speed{{i}}"></span> mph</p>
                </div>
            </div>
        </button>
        <form action="/graphs">
            <div class="modal fade text-dark" id="staticBackdrop{{i}}" data-backdrop="static" data-keyboard="false"  aria-labelledby="staticBackdropLabel" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title{{i}}"></h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container text-center">
                                <div class="container d-flex mx-auto row py-5">
                                    <div class="col-6 pt-3">
                                        <p><b>High</b> <span id="high-temp{{i}}"></span>°F / <b>Low</b> <span id="low-temp{{i}}"></span>°F</p>
                                    </div>
                                    <div class="col-6 pt-3">
                                        <p><b>Rain</b> <span id="precipitation-intensity-modal{{i}}"></span>%</p>
                                    </div>
                                </div>
                            
                                <div class="container mx-auto row details">
                                    <div class="col-3">
                                        <b>Temperature:</b> <span id="current-temperature{{i}}"></span>°
                                    </div>
                                    <div class="col-3">
                                        <b>Wind:</b> <span id="wind-speed-modal{{i}}"></span> mph
                                    </div>
                                    <div class="col-3">
                                        <b>Humidity:</b> <span id="humidity-modal{{i}}"></span>%
                                    </div>
                                    <div class="col-3">
                                        <b>UV Index:</b> <span id="uv-index{{i}}"></span>
                                    </div>
                                    <div class="col-3">
                                        <b>Preciptation:</b> <span id="precipitation{{i}}"></span> %
                                    </div>
                                    <div class="col-3">
                                        <b>Preassure:</b> <span id="pressure{{i}}"></span>  mb
                                    </div>
                                    <div class="col-3">
                                        <b>Dew Point:</b> <span id="dew-point{{i}}"></span>°
                                    </div>
                                    <div class="col-3">
                                        <b>Visibility:</b> <span id="visibility{{i}}"></span> mi
                                    </div>
                                </div>
                            </div>      
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="More Details"></input>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endfor %}
</div>

<script type=text/javascript id=json-location>{{ url_for('static', filename = 'js/weather.json') }}</script> <!-- Passing the path location for the weather.js to being use in the javascript file. -->
<script type="text/javascript" src="{{ url_for('static', filename = 'js/weather.json') }}"></script> <!-- Passing the information on the weather.json to be fetch by the javascript file.  -->
<script src="{{ url_for('static', filename = 'js/search_scripts.js') }}" type="module"></script> <!-- This connects the javascript file to the html -->
{% endblock %}